%div{:style => "font-family:Arial;"}
  %div{:style => "margin: auto; border: 1px solid #dfdfdf; border-top: 2px solid #ee8325; padding: 0 20px;"}
  %p{:style => "text-align: justify; font-size: 13px; line-height: 19px;"}
  .cta-secction{:style => "text-align: center; margin: auto; background: #f58220; border: 1px solid #dfdfdf; border-top: none; padding: 1px 20px; color: #fff;"}
  %p Hi,
  %p You have #{@task_count} Backlogs Please check CRM.