.modal-header
  %h5.modal-title Edit Task #{@work.name}
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  = render 'form'
