.modal-header
  %h5.modal-title Preview Tasks
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} ×
.modal-body
  %h4.lead-heading.mt-2.mb-2 Task Basic Detail
  .row
    .col-md-6
      .form-group
        %span.lead-title Name
        %span.lead-info
          = @work.name
    .col-md-6
      .form-group
        %span.lead-title Assigned To
        %span.lead-info
          = @work.user_email
    .col-md-6
      .form-group
        %span.lead-title State
        %span.lead-info
          = @work.status_name
    .col-md-6
      .form-group
        %span.lead-title Dead Line
        %span.lead-info
          = @work.deadline