.flex-container{style:'background: #fff;'}
  .row
    .col-sm-6.order-2.order-sm-1
      #login
        %p.login-heading Reset Password
        .login-form
          = bootstrap_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'horizontal' } do |f|
            = devise_error_messages!
            .form-group
              = f.email_field :email, autofocus: true, placeholder: 'Email', class: 'form-control'
            .row
              .col-sm-6
                = f.submit 'SEND', class: 'btn btn-primary  '
    .col-sm-6.login-artwork.order-1.order-sm-2