%table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", style: " font-family:  Arial, sans-serif; line-height: 20px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.24);", width: "500"}
  %tbody
    %tr
      /
        <td bgcolor="#fefefe"><a href="#"style="display: block; margin: 0; padding: 0; line-height: 0; "><img src="http://propertypistol.in/mailer/images/eoi-mailer/defaultlogo.jpg"/ alt="Your compnay name logo"></a>
        </td>
      %td{bgcolor: "#fefefe"}
        %a{href: "#", style: "display: block; margin: 0; padding: 0; line-height: 0;     padding: 15px 30px;\r\n    border-bottom: 1px solid #dfdfdf;"}
          = image_tag  "https://s3.ap-south-1.amazonaws.com/propertypistol.public.images/demo-bg-logo-big.png", alt: 'Company Alt', class: 'brand-image-xs logo-xl'
    %tr
      %td{bgcolor: "#fefefe"}
        %a{href: "#", style: "display: block; margin: 0; padding: 0; line-height: 0;     padding: 15px 30px;\r\n    border-bottom: 1px solid #dfdfdf;"}
          = image_tag "https://s3.ap-south-1.amazonaws.com/propertypistol.public.images/reset-password.png", alt: "", style: "margin: auto;display: table;width:250px"
    %tr
      %td{bgcolor: "#fcfcfc"}
        %div{style: " border-top: none;padding: 30px 40px 30px;\r\n    background: #eff7fd;"}
          %p{style: "font-family:  Arial; color: #171717; font-size: 14px; text-align: justify; line-height: 26px; margin: 0 0 10px; font-weight: bold"} Hi, #{@email}
          %p{style: "font-family:  Arial; color: #171717; font-size: 14px;  text-align: justify; line-height: 26px; margin: 0 0 10px"}
            Someone has requested a link to change your password. If you didn't request this, please ignore this email.
          %p{style: "font-family:  Arial; color: #171717; font-size: 14px;  text-align: justify; line-height: 26px; margin: 0 0 10px"} Your password won't change until you access the link above and create a new one.
          %p{style: "font-family:  Arial; color: #171717; font-size: 14px; text-align: justify; line-height: 26px; margin: 0 0 10px"}
            To reset the password please click on the button below.
          %center
            .confirm= link_to 'Reset Password', edit_password_url(@resource, reset_password_token: @token), :style=>'text-decoration: none;padding: 10px;letter-spacing: 0.13px;color: #FFFFFF;background: #1761fd;border-radius: 3px;display: block;margin-top: 30px;font-size: 14px;'